body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

.links a  {
    text-decoration: none;
    color: #bec1c6;
    font-size: 18px;
    transition: all 150ms ease-in-out;

}

.links a:hover {
    color: white;
}

.body {
    display: flex;
    flex-flow: column nowrap;
}

.hero ,.header,.footer {
    display: flex;
    background-color: #1F2937;
    color: white;
}

.hero {
    flex-direction: column;
}

.hero-text {
    display: flex;
    flex-direction: column;
  
}

.hero-text h1 {
    font-size: 48px;
    margin: 0px;
}

.hero-text p {
    color: #e5e7eb;
    margin: 10px 0;
}

.herocontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
}

.header .links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.header {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
    justify-content: space-between;
    align-items: baseline;
    margin: 20px 100px;
}

.blue-button {
    width: 150px;
    padding: 5px;
    background-color: #3882f6;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    transition: all 150ms ease-in-out;
    text-align: center;
}

.blue-button:hover {
    background-color: #003772;
    cursor: pointer;
}

img.hero-image {
    width: 500px;
    height: auto;
    flex: 1 0 auto;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 100px;
}

.info h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 20px;
}

.info ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 180px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blue-blox {
    width: 100%;
    font-size: 30px;
    aspect-ratio: 1 / 1;
    background-color: #3882f6;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 500;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: all 150ms ease-in-out;
}

.blue-blox:hover {
    font-size: 45px;
    background-color: #003772;
    cursor: pointer;
}

.description {
    padding: 12px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: all 150ms ease-in-out;
}

.description:hover {
    font-weight: 700;
}

.quote {
    margin: 0;
    padding: 20px 100px;
    height: 500px;
    display: flex;
    flex-direction: column;
    font-size: 36px;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
}

.quote p {
    font-size: 24px;
    color: #1F2937;
    font-weight: 700;
    margin-top: 10px;
    font-style: normal;
    align-self: flex-end;
    margin-right: 20px;

}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px 100px;
    padding: 30px;
    background-color: #3882f6;
    border-radius: 10px;
    color: white;
    gap: 20px;
}

.banner .banner-text {
    display:flex;
    flex-direction: column;
}

.banner .blue-button {
    border-color: white;
    border: 2px solid white;
}

 .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 20px 0;
 }