body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh
}

.hero ,.header,.footer {
    display: flex;
    background-color: #6A4C93; 
    /* background-color: #14213D; */
    color: #FFCA3A;
}

.hero {
    flex-direction: column;
}

.hero-text {
    display: flex;
    flex-direction: column;
  
}

.hero-text h1 {
    font-size: 48px;
    margin: 0px;
}

.hero-text p {
    color: #e5e7eb;
    margin: 10px 0;
}

.herocontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10%;
    background-color: #6A4C93;
}

.header .links {
    display: flex;
    list-style: none;
    gap: 40px;
}

.links a  {
    text-decoration: none;
    color: #bec1c6;
    font-size: 18px;
    transition: all 150ms ease-in-out;

}

#firstnavbutton:hover  {
    color: #FFCA3A;
}
#secondnavbutton:hover  {
    color: #8AC926;
}
#thirdnavbutton:hover {
    color: #3882f6;
}

.line-hover {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.line-hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0; /* Línea justo debajo del texto */
    width: 0%;
    height: 3px;
    background-color: currentColor;
    transition: width 0.2s ease-in-out;
}

.line-hover:hover::after {
  width: 100%;
}

.header {
    color: #bec1c6;
    font-size: 24px;
    font-weight: 700;
    justify-content: space-between;
    align-items: baseline;
    margin: 20px 10%;
}

.button {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    background-color: #6A4C93;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    border: none;

    transition: all 160ms ease-in-out;
}

.hero-text .button{
    margin-top: 10%;
    width: 200px;
    color: #6A4C93;
    background-color: #FFCA3A;
}

.hero-text .button:hover {
    color: #6A4C93;
    background-color: white;
    cursor: pointer;
}

img.hero-image {
    width: 500px;
    height: auto;
    flex: 1 0 auto;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 10%;
}

.info h2 {
    font-size: 36px;
    font-weight: 900;
    color:#;
    margin-bottom: 20px;
}

.info ul {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding: 0;
    list-style: none;
}

.card {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 180px;
    overflow: hidden;
}

.box {
    width: 100%;
    font-size: 30px;
    aspect-ratio: 1 / 1;
    background-color: #1982C4;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 500;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: all 150ms ease-in-out;
}

.box#first-box {
    background-color: #6A4C93;
}

.box#second-box {
    background-color: #FFCA3A;
}

.box#third-box {
    background-color: #8AC926;
}

.box#fourth-box {
    background-color: #1982C4;
}

.box:hover {
    font-size: 45px;
    cursor: pointer;
}

.description {
    padding: 12px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: all 150ms ease-in-out;
}

.quote {
    margin: 0px;
    padding: 0 10%;
    height: 500px;
    display: flex;
    flex-direction: column;
    font-size: 36px;
    color: #1982C4;
    background-color: #FFCA3A;
    justify-content: center;
    align-items: center;
}

.quote p {
    font-size: 24px;
    color: #6A4C93;
    font-weight: 700;
    margin-top: 10px;
    font-style: normal;
    align-self: flex-end;
    margin-right: 20px;

}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10%;
    padding: 20px;
    background-color: #8AC926;
    color: #6A4C93;
    gap: 20px;
    border-radius: 10px;
}

.banner .banner-text {
    display:flex;
    flex-direction: column;
}

.banner .button {
    width: 100px;
    color: #6A4C93;
    background-color: #FFCA3A;
}

.banner .button:hover {
    color: #6A4C93;
    background-color: white;
    cursor: pointer;
}

 .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1982C4;
    color: white;
    padding: 20px 0;
 }